body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    background-image: url('assets/imgs/bg.png');
}

a, a:visited {
    color: #ff00ff;
}

a:hover, a:active {
    color: #000000;
}

nav {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    z-index: 99;
}

nav li {
    padding-top: 100px;
    border-left: 1px solid #f2f2f2;
}

.name {
    position: absolute;
    top: 100px;
    left: 20px;
    padding: 5px 10px 3px 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #ff00ff;
    border-radius: 5px;
}

main {
    margin-top: 150px;
    margin-bottom: 50px;
}

.content {
    padding: 25px;
    background-color: #fff;
}

.container {
    padding-top: 20px;
}

.row {
    padding-bottom: 20px;
}

.right {
    float: right;
}

h1 {
    padding: 0px 0px 15px 25px;
    color: #fff;
    font-family: 'Dawning of a New Day', cursive;
    text-transform: lowercase;
    background-color: #ff00ff;
    border-radius: 5px;
}

.me {
    width: 200px;
    float: left;
}

.icons {
    font-size: 50px;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    background-color: #999;
    border-top: 5px solid #ff00ff;
    z-index: 99;
}